<p>Thanks, {{order.fullName}}!</p>

<p>
  Your payment to PCDC for ${{order.total}} has been successfully processed.<br />
  Thank you for registering in advance for the Portland Megaband dance.<br />
  Your name will be on a list at the door. (You will not receive a physical ticket.)
</p>

<h4>Order Summary</h4>

<p>
  <strong>Contact info:</strong><br />
  {{order.fullName}}<br />
  {{order.email}<br /}>
  {{order.phone}}
</p>

<p>
  <strong>Admissions:</strong><br />
  {{order.fullName}}<br />
  {{#if order.person2}}{{order.person2}}<br />{{/if}}
  {{#if order.person3}}{{order.person3}}<br />{{/if}}
  {{#if order.person4}}{{order.person4}}<br />{{/if}}
</p>

<p>
  <strong>Amount paid:</strong><br />
  Megaband admissions: {{order.admissionQuantity}} x ${{order.admissionCost}} = ${{order.admissionQuantity * order.admissionCost}}<br />
  {{#if order.donation > 0}}Additional donation: ${{order.donation}}<br />{{/if}}
  Total: ${{order.total}}
</p>

<hr />

<h4>Expedited Entry</h4>

<p>If you have not already done so, you can expedite the sign-in process by doing these ahead of time:</p>

<p>
  &#8674; Fill out the <a href={{CONTACT_TRACING_LINK}} target="_blank" rel="noreferrer">PCDC Contact Tracing form</a> online.<br />
  &#8674; Print and bring with you a signed copy of the <a href={{WAIVER_LINK}} target="_blank" rel="noreferrer">PCDC event waiver</a>.
</p>

<hr />

<h4>Event Details</h4>

<p>
  Saturday, March 11, 2023<br />
  7:30pm (doors at 6:30, beginner lesson at 7:00)<br />
  Oaks Park Dance Pavilion<br />
  7805 SE Oaks Park Way in Portland
</p>

<p>Parking is $3/car.</p>

<p><strong>Covid policy:</strong> Everyone must be vaccinated, including at least one booster if eligible. A well-fitted mask covering nose and mouth is required for attendees. PCDC's full Covid policy is available <a href="https://pcdc.fun/covid19" target="_blank" rel="noreferrer">here</a>.</p>

<p>
  See <a href={{websiteLink}} target="_blank" rel="noreferrer">{DETAILS_WEBSITE}</a> for further details.<br />
  Email <a href={{mailtoLink}}>{{EMAIL_CONTACT}}</a> if you have any questions.
</p>
